html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: cursive;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  width: 162px;
  height: 42px;
  border: 2px solid #27ae60;
  background-color: rgba(0, 255, 0, 0.1);
  color: #27ae60;
  font-family: inherit;
  font-size: 1.1em;
  font-weight: 300;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

button:hover {
  cursor: pointer;
  background-color: #27ae60;
  border: none;
  border-radius: 20px;
  color: #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.header-block-top {
  width: 100%;
  position: fixed;
  background-color: #fff;
  padding-top: 20px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 999999;
}

.header-block-top nav {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-block-top nav .logo h2 {
  margin-top: 0;
  padding-left: 15px;
  font-weight: 100;
  font-size: 1.6rem;
}

.header-block-top nav .logo h2 a {
  text-decoration: none;
  color: #666;
}

.header-block-top nav .menu-bar button {
  display: none;
  float: right;
  width: 30px;
  height: 20px;
  border: 1px solid rgba(10, 9, 9, 0.1);
  border-radius: 5px;
  background-color: #fff;
  margin-right: 40px;
  margin-top: 5px;
}

.header-block-top nav .menu-bar button:hover {
  cursor: pointer;
}

.header-block-top nav .menu-bar button .icon-bar {
  border: 1px solid #27ae60;
  margin: 2px;
}

.header-block-top nav .menu-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-top: 7px;
}

.header-block-top nav .menu-bar ul li {
  padding-right: 25px;
}

.header-block-top nav .menu-bar ul li a {
  color: #666;
  text-decoration: none;
  font-size: 1.1rem;
}

.header-block-top nav .menu-bar ul li a:hover {
  color: #27ae60;
}

.banner {
  width: 100%;
  height: 82vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(transparent)), url("../img/home-bg.jpg") no-repeat;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), transparent), url("../img/home-bg.jpg") no-repeat;
  background-size: cover;
}

.banner .banner-info {
  max-width: 600px;
  padding-top: 5%;
  margin-left: 7%;
}

.banner .banner-info h1 {
  color: #fff;
  font-size: 4.2rem;
  font-weight: 100;
  padding-top: 5px;
  margin-bottom: 0;
}

.banner .banner-info p {
  color: #aaa;
  font-size: 1.3rem;
  margin-top: 15px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-top: -7%;
  margin-bottom: 6%;
}

.cards .recycle, .cards .solar-panel, .cards .save-water, .cards .windmill {
  width: 300px;
  margin: 0.7rem;
  padding-bottom: 1rem;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.cards .recycle:hover, .cards .solar-panel:hover, .cards .save-water:hover, .cards .windmill:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.cards .recycle .content img, .cards .solar-panel .content img, .cards .save-water .content img, .cards .windmill .content img {
  padding-top: 30px;
}

.cards .recycle .content h2, .cards .solar-panel .content h2, .cards .save-water .content h2, .cards .windmill .content h2 {
  color: #27ae60;
  font-weight: 100;
  font-size: 1.6rem;
  margin-top: 5px;
  margin-bottom: -5px;
}

.cards .recycle .content p, .cards .solar-panel .content p, .cards .save-water .content p, .cards .windmill .content p {
  color: #999;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.9rem;
}

section h1 {
  font-size: 2.3rem;
  color: #666;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .planting, .projects .wind-energy, .projects .animals, .projects .wastage {
  margin: 0.7rem;
  position: relative;
  overflow: hidden;
}

.projects .planting:hover .proj-detail, .projects .wind-energy:hover .proj-detail, .projects .animals:hover .proj-detail, .projects .wastage:hover .proj-detail {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  bottom: 1rem;
}

.projects .planting:hover .caption, .projects .wind-energy:hover .caption, .projects .animals:hover .caption, .projects .wastage:hover .caption {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  bottom: -100%;
}

.projects .planting img, .projects .wind-energy img, .projects .animals img, .projects .wastage img {
  width: 100%;
  border-radius: 7px;
}

.projects .planting .proj-detail, .projects .wind-energy .proj-detail, .projects .animals .proj-detail, .projects .wastage .proj-detail {
  position: absolute;
  bottom: 0;
  margin: 15px;
  margin-bottom: 0;
  background-color: #fff;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 7px;
  bottom: -100%;
  left: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.projects .planting .proj-detail h2, .projects .wind-energy .proj-detail h2, .projects .animals .proj-detail h2, .projects .wastage .proj-detail h2 {
  margin-bottom: 0;
  color: #27ae60;
  font-weight: 100;
}

.projects .planting .proj-detail p, .projects .wind-energy .proj-detail p, .projects .animals .proj-detail p, .projects .wastage .proj-detail p {
  margin-top: 6px;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}

.projects .planting .proj-detail a, .projects .wind-energy .proj-detail a, .projects .animals .proj-detail a, .projects .wastage .proj-detail a {
  font-size: 0.9rem;
  font-weight: 100;
  color: #666;
  text-decoration: none;
  padding-bottom: 10px;
}

.projects .planting .proj-detail a:hover, .projects .wind-energy .proj-detail a:hover, .projects .animals .proj-detail a:hover, .projects .wastage .proj-detail a:hover {
  cursor: pointer;
  color: #27ae60;
}

.projects .planting .caption, .projects .wind-energy .caption, .projects .animals .caption, .projects .wastage .caption {
  width: 100%;
  position: absolute;
  bottom: 4px;
  left: 0;
  border-radius: 0px 0px 7px 7px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: #fff;
  font-size: 2.7rem;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.donate-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url(../img/donate-bg.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/donate-bg.jpg) no-repeat;
  background-size: cover;
}

.donate-inner {
  max-width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  margin: 0 auto;
}

.donate-inner .doner-stats {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px;
  margin-left: 0;
  margin-right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.donate-inner .doner-stats .volunteer, .donate-inner .doner-stats .trees, .donate-inner .doner-stats .life-save, .donate-inner .doner-stats .panels {
  width: 200px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  border: 2px solid #fff;
  text-align: center;
  margin: 20px;
}

.donate-inner .doner-stats .volunteer h2, .donate-inner .doner-stats .trees h2, .donate-inner .doner-stats .life-save h2, .donate-inner .doner-stats .panels h2 {
  color: #27ae60;
  font-weight: 300;
  margin-bottom: 0;
  padding-top: 8px;
}

.donate-inner .doner-stats .volunteer p, .donate-inner .doner-stats .trees p, .donate-inner .doner-stats .life-save p, .donate-inner .doner-stats .panels p {
  color: #fff;
  margin-top: 10px;
}

.donate-inner .doner-amount {
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 30px;
  text-align: center;
}

.donate-inner .doner-amount h1 {
  color: #fff;
}

.donate-inner .doner-amount ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
}

.donate-inner .doner-amount ul .active {
  background-color: #27ae60;
  color: #fff;
}

.donate-inner .doner-amount ul li {
  list-style-type: none;
  width: 100px;
  height: 50px;
  border: none;
  background-color: #fff;
  margin: 10px;
  border-radius: 5px;
  line-height: 50px;
  font-size: 20px;
  color: #666;
}

.donate-inner .doner-amount ul li:hover {
  background-color: #27ae60;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.team-section {
  background-color: #eee;
}

.team-section h1 {
  font-size: 2.3rem;
  color: #666;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 0;
  padding-top: 75px;
}

.team-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.7rem;
}

.team-members .members {
  position: relative;
  overflow: hidden;
  width: 280px;
  border: 10px solid #fff;
  margin: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.team-members .members:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.team-members .members:hover .team-info {
  bottom: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.team-members .members img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-members .members .team-info {
  position: absolute;
  left: 0;
  bottom: -4.2rem;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.team-members .members .team-info h1 {
  color: #27ae60;
  font-size: 1.6rem;
  text-transform: capitalize;
  padding: 0;
}

.team-members .members .team-info p {
  color: #999;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.team-members .members .team-info .pop-lnks {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  padding: 0;
  text-align: center;
}

.team-members .members .team-info .pop-lnks a {
  width: 2.2rem;
  height: 2rem;
  color: #999;
  font-size: 1.2rem;
  margin: .6rem;
  line-height: 1.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  text-decoration: none;
}

.team-members .members .team-info .pop-lnks a:hover, .team-members .members .team-info .pop-lnks a:focus {
  background-color: #27ae60;
  color: #fff;
}

.testimonial-section h1 {
  font-size: 2.3rem;
  color: #666;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 0;
  padding-top: 75px;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.7rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.testimonials .test-info {
  margin: 10px;
}

.testimonials .test-info .test-body {
  width: 280px;
  border: 1px solid #27ae60;
  color: #27ae60;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.testimonials .test-info .test-body p {
  font-size: 0.9rem;
  padding: 50px 20px;
}

.testimonials .test-info .test-img img {
  width: 35%;
  border-radius: 50%;
}

.testimonials .test-info .test-img p {
  color: #999;
}

.testimonials .test-info .down-arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #27ae60;
  margin: 0 auto;
  margin-bottom: 15px;
}

.event-section {
  background-color: #f6fcff;
  margin-top: 50px;
}

.event-section h1 {
  font-size: 2.3rem;
  color: #666;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding-top: 75px;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.7rem;
  margin-bottom: 0px;
}

.events .evnt-one, .events .evnt-two, .events .evnt-three {
  margin: -20px;
}

.events .event-info {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding-bottom: 0px;
}

.events .event-info img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}

.events .event-info span {
  font-size: 1rem;
  padding-top: 10px;
  color: #27ae60;
  padding-left: 15px;
}

.events .event-info h3 {
  font-size: 1.3rem;
  padding-left: 15px;
  padding-right: 40px;
  margin-bottom: 0;
}

.events .event-info h3 a {
  color: #333;
  text-decoration: none;
  font-weight: 100;
}

.events .event-info h3 a:hover {
  text-decoration: underline;
}

.events .event-info p {
  color: #999;
  padding-left: 15px;
  font-size: 0.9rem;
  padding-right: 20px;
}

.events .event-info button {
  margin-left: 15px;
}

.events .event-info .responsive {
  height: 44.5%;
}

.contact-wrapper {
  width: 100%;
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
}

.contacts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts .contact-info {
  width: 350px;
}

.contacts .contact-info h1 {
  color: #27ae60;
  font-weight: 100;
  font-size: 1.7rem;
}

.contacts .contact-info p {
  padding-right: 25px;
  color: #666;
}

.contacts .contact-info ul {
  margin-left: -35px;
  margin-top: -8px;
}

.contacts .contact-info ul li {
  list-style-type: none;
  line-height: 40px;
}

.contacts .contact-info ul li a {
  text-decoration: none;
  color: #666;
}

.contacts .contact-info ul li a:hover {
  text-decoration: underline;
}

footer {
  border-top: 1px solid #666;
  margin-top: 10px;
  padding: 8px 0px;
  text-align: center;
}

footer p {
  font-size: 1.3rem;
  color: #666;
}

footer p a {
  color: #27ae60;
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}

@media (max-width: 1280px) {
  .cards {
    margin-top: -8%;
  }
}

@media (max-width: 1200px) {
  .donate-inner {
    max-width: 1200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 75px;
    padding-bottom: 60px;
  }
  .donate-inner .doner-stats {
    max-width: 100%;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 30px;
  }
  .donate-inner .doner-amount {
    max-width: 100%;
    margin: 0;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-bottom: 20px;
  }
  .donate-inner .doner-amount h1 {
    font-weight: 100;
    padding-top: 20px;
  }
  .donate-inner .doner-amount ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1160px) {
  .events .evnt-three, .events .evnt-four {
    margin: 0;
  }
  .contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts .contact-info {
    width: 250px;
  }
  .contacts .contact-info p {
    font-size: 0.9rem;
  }
}

@media (max-width: 990px) {
  nav .logo {
    padding-left: 35px;
  }
  nav .logo h2 a {
    font-size: 1.4rem;
  }
  nav .menu-bar ul {
    margin-right: 30px;
  }
  nav .menu-bar ul li a {
    font-size: 1rem;
    font-weight: 100;
  }
  .banner .banner-info h1 {
    font-size: 2.2rem;
    padding-top: 60px;
    margin-top: 80px;
  }
  .banner .banner-info p {
    font-size: 1.1rem;
  }
  button {
    width: 140px;
    height: 35px;
    font-size: 1em;
    border: 1px solid #27ae60;
  }
  .cards {
    margin-top: -10%;
  }
  .cards .recycle, .cards .solar-panel, .cards .save-water, .cards .windmill {
    width: 280px;
  }
  .cards .recycle .content p, .cards .solar-panel .content p, .cards .save-water .content p, .cards .windmill .content p {
    font-size: 0.8rem;
  }
  section h1 {
    margin-top: 90px;
    font-size: 2rem;
  }
  .team-section h1 {
    font-size: 2rem;
  }
  .testimonial-section h1 {
    font-size: 2rem;
  }
  .event-section h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .events .event-info span {
    font-size: 0.9rem;
  }
  .events .event-info h3 a {
    font-size: 1.2rem;
  }
  .events .event-info p {
    font-size: 0.8rem;
  }
}

@media (max-width: 920px) {
  .testimonials .test-info .test-body {
    width: 250px;
  }
  .testimonials .test-info .test-body p {
    padding: 50px 10px;
    font-size: 0.8rem;
  }
}

@media (max-width: 820px) {
  .contacts {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts .address {
    margin-left: 0;
  }
  .contacts .contact-info {
    width: 320px;
  }
  .contacts .contact-info p {
    padding-right: 0;
  }
  footer p {
    font-size: 1.1rem;
  }
}

@media (max-width: 780px) {
  .events .evnt-two {
    margin: 0;
  }
  .events .evnt-four {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .header-block-top nav {
    position: relative;
  }
  .header-block-top nav .menu-bar button {
    display: block;
  }
  .header-block-top nav .menu-bar ul {
    width: 100%;
    position: absolute;
    left: 0;
    top: 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 25px;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 30px;
    display: none;
  }
  .header-block-top nav .menu-bar ul li {
    line-height: 45px;
    font-size: 1.6rem;
  }
  .header-block-top nav .menu-bar ul li::before {
    content: "| ";
    color: #27ae60;
  }
  .banner {
    text-align: center;
  }
  .banner .banner-info {
    margin: 0 auto;
  }
  .cards {
    margin-top: -15%;
  }
  .donate-inner {
    max-width: 1200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .donate-inner .doner-stats {
    max-width: 100%;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .donate-inner .doner-amount {
    max-width: 100%;
    margin: 0;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .donate-inner .doner-amount h1 {
    font-size: 23px;
  }
  .donate-inner .doner-amount ul li {
    width: 80px;
    height: 40px;
    line-height: 35px;
    font-size: 18px;
  }
}

@media (max-width: 695px) {
  .contacts {
    display: block;
  }
  .contacts .contact-info {
    width: 100%;
  }
  .contacts .contact-info p {
    padding-right: 0;
  }
}

@media (max-width: 605px) {
  .banner .banner-info p {
    padding-left: 10px;
    padding-right: 10px;
  }
  .cards {
    margin-top: -25%;
  }
  footer p {
    font-size: 0.9rem;
  }
}

@media (max-width: 450px) {
  .banner .banner-info h1 {
    margin-top: 130px;
  }
}

@media (max-width: 415px) {
  button {
    width: 130px;
    height: 35px;
    font-size: 1em;
    border: 1px solid #27ae60;
  }
  .banner .banner-info p {
    font-size: 0.9rem;
  }
  .cards .recycle, .cards .solar-panel, .cards .save-water, .cards .windmill {
    width: 260px;
  }
  .cards .recycle .content h2, .cards .solar-panel .content h2, .cards .save-water .content h2, .cards .windmill .content h2 {
    font-size: 1.2rem;
  }
  .cards .recycle .content p, .cards .solar-panel .content p, .cards .save-water .content p, .cards .windmill .content p {
    font-size: 0.8rem;
  }
}

@media (max-width: 385px) {
  .events .evnt-two, .events .evnt-three, .events .evnt-five, .events .evnt-six {
    margin: 0;
    padding-bottom: 20px;
  }
  .events .evnt-one {
    margin-bottom: 10px;
  }
}

@media (max-width: 365px) {
  .events .evnt-one {
    margin-bottom: 30px;
  }
  footer p {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=style.css.map */